<!DOCTYPE html>
<html class="homeHTML" lang="es">
<%- include('./partials/head',{
    title: 'Sunset'
}) %> 
<body>
    <%- include('./partials/header') %> 
    <main class="home">
       
        <div class="banner"> 
            
            <div class="sunset">
                <span class="vesti">Vesti</span>
                <span class="sunsetSpan">SUNSET</span>
            </div>
            <div class="imagen">

            </div>
            <a class="bajar" href="#colecciones"><i class="fas fa-chevron-circle-down"></i></a>
            
         </div>
         

        <section class="colecciones" id="colecciones">
            
            <article class="coleccion">
                    <a href="/products/colecciones/Heaven">

                        <img src="/images/heaven.jpeg" alt="">
                    </a>
                        
                    <div class="coleccionNombre">
                        <a href="/products/colecciones/Heaven">

                            <h4 class="glitch">Heaven</h4>
                        </a>
                    </div>
              
            </article>
            
            <article class="coleccion">
                <a href="/products/colecciones/Hell">
                <img src="/images/hell.jpeg" alt="">
                </a>
                <div class="coleccionNombre">
                    <a href="/products/colecciones/Hell">

                        <h4 class="glitch">
                           
                                 Hell
                            
                        </h4>
                    </a>
                </div>
                
            </article>
        </section>

        <h2 class="h2"> Productos mas vendidos</h2>


        <section class="Mas__vendidos">

            <% for( let i = 0; i <= 3; i++ ) { %>
            
                <div class="buzo">
                    <div class="img-container">
                     <a href="/products/detail/<%=products[i].id%> "><img src="/images/Buzos/<%=products[i].image%>" alt="producto 1"></a> 
                      <span class="price">$<%= products[i].price %> </span>
                      </span>
                      <p><%= products[i].name %> </p>
                    </div>
                </div>
            <% } %>

        
        </section>
    </main>
        <%- include('./partials/footer') %> 
    
</body>
</html>