<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{
        title: 'Sunset | Resultados'
    }) %> 
<body>
    <%- include('./partials/header') %> 

    <main class="PRODUCTOS RESULT">
    
            
            
            <section class="container">

             <% if (productsFilter.length > 0) { %>

                <h2 class="h2"> Resultados a : <span class="keywordSpan"><%= keyword %></span></h2>
                
                <% productsFilter.forEach(({id, name, price, image, colecction }) => { %>
                    
                    <div class="buzo">
                        <div class="img-container">
                         <a href="/products/detail/<%= id %> "><img src="/images/Buzos/<%= image %>  " alt="producto 1"></a> 
                          <span class="price">$<%= price %>  </span>
                          </span>
                          <p><%= name %>  </p>
                        </div>
                    </div>
    
                <% }) %>

             <% } else { %> 

                <div class="divResult">

                    <h2 class="h2result"> No encontramos resultados para : <span class="keywordSpan"><%= keyword %></span></h2>
    
                    <a href="/"> Volver al inicio</a>

                </div>


             <% } %>
            
            </section>
        </main>  
        <%- include('./partials/footer') %> 
</body>
</html>