<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head',{
        title: 'Sunset | Colecciones'
    }) %> 
<body>
    <%- include('../partials/header') %> 

    <main class="PRODUCTOS COLECCIONES">


        <section class="coleccion">

            <% if (collection[0].name == "Heaven") { %>
                <img src="/images/heavenCollection.jpeg" alt="">
                <div class="title">
                    <p>Heaven</p>
                </div>
            <% } else { %>
                <img src="/images/hellCollection.jpeg" alt="">
                <div class="title">
                    <p>Hell</p>
            <% } %>


           

        </section>
            <section class="container">

            <h2 class="h2">Productos</h2>


                <% for( let i = 0; i < collection[0].products.length; i++ ) { %>
            
                    <div class="buzo">
                        <div class="img-container">
                         <a href="/products/detail/<%= collection[0].products[i].id%> "><img src="/images/Buzos/<%=collection[0].products[i].image%>" alt="producto 1"></a> 
                          <span class="price">$<%= collection[0].products[i].price %> </span>
                          </span>
                          <p><%=collection[0].products[i].name %> </p>
                        </div>
                    </div>
                <% } %>

            <a class="verMas" href="/products"><p>Ver todos los productos</p></a>
            
            </section>
        </main>  
        <%- include('../partials/footer') %> 

</body>
</html>