<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{
        title: 'Sunset | Product Detail'
    }) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="productDetail">
        <section class="general">

            <div class="producto">
                <img src="/images/Buzos/<%=product.image%> " alt="">
                <p class="nombre"> <%=product.name %> </p>
                <span class="precio">$<%=product.price%></span>
                
                <p class="acercaDe">Hoodie de algódon con frisa estampado. <br>
                    Hasta 3 cuotas sin interés. <br>
                    Envíos a todo el pais</p>
            </div>
    
    
            <aside>
                <div class="descripcion">
                    <h3><%=product.name%> </h3>
                    <span>$<%=product.price%></span>
                    
                </div>
    
                <p><i class="fas fa-credit-card"></i> 3 cuotas sin interés de $1.333</p>
    
                <div class="talle">
                <form action="">

                    <label for="Talle">Talle :</label>
                    <select name="talle" id="talle">
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
                </form>
    
                </div>
    
                <div class="botones">
                    
                    <a href="" class="cartFav">Añadir al carrito <i class="fas fa-shopping-cart"></i></a>
            
                    <a href="" class="cartFav">Añadir a favoritos <i class="fas fa-heart"></i></a>

                    
                    
                    <div class="formEdit">

                        
                        <a href="/products/edit/<%= product.id %> " class="editDelete">Editar <i class="fas fa-heart"></i></a>
                        
                        <form action="/products/remove/<%=product.id%>?_method=DELETE" method="post" class="deleteForm">
                            
                            <a href="" class="editDelete"><button type="submit">Eliminar<i class="fas fa-trash"></i> </button></a>
                        </form>
                        
                    </div>
                    
                    
                </div>

            </aside>
        </section>
        <div class="h3">
            <h3>Puede interesarte</h3>
        </div>
        <section class="puedeInteresarte">

            <% for( let i = 0; i < 3; i++ ) { %>
            
                <article class="buzo">
                    <div class="img-container">
                        <a href="/products/detail/<%= products[i].id %> "> <img src="/images/Buzos/<%= products[i].image %> " alt="producto 1"> </a>
                      <span class="price">$<%= products[i].price %></span>
                      </span>
                      <p><%= products[i].name %> </p>
                    </div>
                </article>
            <% } %> 

        
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>