<!DOCTYPE html>
<html lang="en" class="formulariosCreateHTML">
    <%- include('../partials/head',{
        title: 'Sunset | Add'
    }) %> 
<body class="formulariosCreateBody">
    <%- include('../partials/header') %> 
    <main class="formularios">

        <section>
            <h2> Agregar producto</h2>
            <form method="post" enctype="multipart/form-data">
                <div>
                    <label>
                        <span>Nombre del producto</span>
                        <input type="text" name="name" value="<%= locals.old && old.name ? old.name : null %>" autocomplete="off" >

                    </label>
                    <% if (locals.errores && errores.name) { %>
                        <p class="errorForm"> <%= errores.name.msg  %> </p>
                    <% } %>

                </div>
                <div>
                    <label>
                        <span>Precio del producto</span>
                        <input type="number" name="price" value="<%= locals.old && old.price ? old.price : null %>" autocomplete="off">

                    </label>
                    <% if (locals.errores && errores.price) { %>
                        <p class="errorForm"> <%= errores.price.msg  %> </p>
                    <% } %>

                </div>
                <div>
                    <label>
                        <span>Descripction del producto</span>
                        <textarea name="description" id="" cols="65 " rows="10"><%= locals.old && old.description ? old.description : null %></textarea>

                    </label>
                    <% if (locals.errores && errores.description) { %>
                        <p class="errorForm"> <%= errores.description.msg  %> </p>
                    <% } %>

                </div>
                <div>
                    <label>
                        <span>Descuento del producto</span>
                        <input type="number" name="discount" autocomplete="off" value="<%= locals.old && old.discount ? old.discount : null %>" >

                    </label>

                </div>
                
                
                
                <div>
                    <select name="coleccion" id="coleccion">
                        
    
                            <option value="" hidden selected>Eliga la coleccion</option>

                            <% collection.forEach(colecct => { %>
                                <option value="<%= colecct.id %>"><%= colecct.name %></option>
                                
                            <% }) %>
                            
                    </select>
                    <% if (locals.errores && errores.coleccion) { %>
                        <p class="errorForm"> <%= errores.coleccion.msg  %> </p>
                    <% } %>

                </div>
                
                <div>
                    <input type="file" name="imagen" id="imagen" enctype>
                </div>

                <div>
                    
                    <button class="loginButton" type="submit">Crear</button>
                </div>

                
            </form>
        </section>
        
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>