<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{
        title: 'Sunset | Product Detail'
    }) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="productDetail">
        <section class="general">

            <div class="producto">
                <img src="/images/Buzos/<%=product.image%>" alt="">
                <p class="nombre"> <%=product.name %> </p>
                <span class="precio">$<%=product.price%></span>
                
                <p class="acercaDe">Hoodie de algódon con frisa estampado. <br>
                    Hasta 3 cuotas sin interés. <br>
                    Envíos a todo el pais</p>
            </div>
    
    
            <aside>
                <div class="descripcion">
                    <h3><%=product.name%> </h3>
                    <span>$<%=product.price%></span>
                    
                </div>
    
                <p><i class="fas fa-credit-card"></i> 3 cuotas sin interés de $1.333</p>
    
                <div class="talle">
                <form action="">

                    <label for="Talle">Talle :</label>
                    <select name="talle" id="talle">
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
                </form>
    
                </div>
    
                <div class="botones">
                    
                    <a href="" class="cartFav">Añadir al carrito <i class="fas fa-shopping-cart"></i></a>
            
                    <a href="" class="cartFav">Añadir a favoritos <i class="fas fa-heart"></i></a>

                    <% if (locals.userLogin && locals.userLogin.rol === "admin") {%> 

                        <div class="formEdit">
    
                            
                            <a href="/products/edit/<%= product.id %> " class="editDelete">Editar <i class="fas fa-edit"></i></a>
                            
                            <form action="/products/remove/<%=product.id%>?_method=DELETE" method="post" class="deleteForm">
                                
                                <a href="" class="editDelete"><button type="submit">Eliminar<i class="fas fa-trash"></i> </button></a>
                            </form>
                            
                        </div>

                    <% } %> 
                    
                    
                    
                </div>

            </aside>
        </section>
        <div class="h3">
            <h3>Puede interesarte</h3>
        </div>
        <section class="puedeInteresarte">

            
            
                <article class="buzo">
                    <div class="img-container">
                        <a href="/products/detail/1 " id="enlace_random"> <img id="image_random" src="/images/Buzos/default-img.png" alt="producto 1"> </a>
                      <span class="price" id="price_random">No disponible</span>
                      </span>
                      <p id="name_random">No disponible</p>
                    </div>
                </article>
                <article class="buzo">
                    <div class="img-container">
                        <a href="/products/detail/1" id="enlace_random1"> <img id="image_random1" src="/images/Buzos/default-img.png" alt="producto 1"> </a>
                      <span class="price" id="price_random1">No disponible</span>
                      </span>
                      <p id="name_random1">No disponible</p>
                    </div>
                </article>
                <article class="buzo">
                    <div class="img-container">
                        <a href="/products/detail/1" id="enlace_random2"> <img id="image_random2" src="/images/Buzos/default-img.png" alt="producto 1"> </a>
                      <span class="price" id="price_random2">No disponible</span>
                      </span>
                      <p id="name_random2">No disponible</p>
                    </div>
                </article>
          

        
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>