<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head',{
        title: 'Sunset | Productos'
    }) %> 
<body>
    <%- include('../partials/header') %> 

    <main class="PRODUCTOS">
    

        <section class="colecciones">

            <article class="coleccion"> 
                
                <a href="/products/colecciones/Heaven">
                    <img src="/images/heaven.jpeg" alt="">
                </a>
                    <div class="coleccionNombre">
                        <a href="/products/colecciones/Heaven">

                            <h4 class="glitch">Heaven</h4>
                        </a>
                    </div>
              
            </article>
            
            <article class="coleccion">
                <a href="/products/colecciones/Hell">
                <img src="/images/hell.jpeg" alt="">
                </a>
                <div class="coleccionNombre">
                    <a href="/products/colecciones/Hell">

                        <h4 class="glitch">
                           
                                 Hell
                            
                        </h4>
                    </a>
                </div>
                
            </article>
        </section>
            <section class="container">
            
            

            <h2 class="h2">Productos <% if (locals.userLogin && locals.userLogin.rol === 1) {%> 
                <a href="/products/add">Crear nuevo producto</a>
            <% } %>
</h2>

           
                <% for( let i = 0; i < products.length; i++ ) { %>
            
                    <div class="buzo">
                        <div class="img-container">
                         <a href="/products/detail/<%=products[i].id%> "><img src="/images/Buzos/<%=products[i].image%>" alt="producto 1"></a> 
                          <span class="price">$<%= products[i].price %> </span>
                          </span>
                          <p><%= products[i].name %> </p>
                        </div>
                    </div>
                <% } %>
            </section>
        </main>  
        <%- include('../partials/footer') %> 
</body>
</html>