<!DOCTYPE html>
<html lang="en" class="formulariosHTML">
    <%- include('../partials/head',{
        title: 'Sunset | Edit'
    }) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="formularios">

        <section>
            <h2> Editar producto : <%= product.name %></h2>
            <form action="/products/edit/<%= product.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                <div>
                    <label>
                        <span>Nombre del producto</span>
                        <input type="text" name="name" autocomplete="off"  value="<%= product.name %>">

                    </label>
                    <% if (locals.errores && errores.name) { %>
                        <p class="errorForm"> <%= errores.name.msg  %> </p>
                    <% } %>

                </div>
                <div>
                    <label>
                        <span>Precio del producto</span>
                        <input type="number" name="price" autocomplete="off"  value="<%= product.price %>">

                    </label>
                    <% if (locals.errores && errores.price) { %>
                        <p class="errorForm"> <%= errores.price.msg  %> </p>
                    <% } %>

                </div>


                
               <div>
                    <label>
                        <span>Descripction del producto</span>
                        <textarea name="description" id="" cols="65 " rows="10"><%= product.description %></textarea>

                    </label>
                    <% if (locals.errores && errores.description) { %>
                        <p class="errorForm"> <%= errores.description.msg  %> </p>
                    <% } %>

                </div>
                <div>
                    <label>
                        <span>Descuento del producto</span>
                        <input type="number" name="discount" autocomplete="off" value="<%= product.discount %>">

                    </label>
                    

                </div>
                
                
                
                <div>
                    <select name="coleccion" id="coleccion">
                        
    
                            <option value="" hidden selected>Eliga la coleccion</option>

                            <% collection.forEach(colecct => { %>
                                <option value="<%= colecct.id %>"><%= colecct.name %></option>
                                
                            <% }) %>
                            
                    </select>

                </div>
                
                <div>
                    <input type="file" name="imagen" id="imagen">
                </div>

                <div>
                    
                    <button class="loginButton" type="submit">Editar</button>
                </div>
                
            </form>
        </section>
        
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>